<% if (theme.gitment){ %>
<section class="comments" id="comments">
    <div id="gitment_thread"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            owner: 'wangsaisai',
            repo: 'wangsaisai.github.io',
            oauth: {
                client_id: '5acc8c6205717c43d700',
                client_secret: '6295863b5e969af1fb821218b4c196adadb3c03a',
            },
        })
        gitment.render('comments')
    </script>
</section>
<% } %>
